@import url("index.css");

body {
  text-transform: none;
  font-family: 'Pacifico', sans-serif;
}

.container {
  color: var(--primary-green);
  background-image: linear-gradient(var(--secondary-blue),10%, var(--primary-orange));
}

.promoCard {
  background-color: var(--neutral-sand);
  border: 2px solid var(--neutral-coconut);
  border-radius: 8px;
  margin: 4px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.promoCard h1 {
  border-radius: 8px;
  background-color: var(--secondary-blue);
}

h1, h2 {
  text-align: center;
}
